<h1>Harry Potter DB</h1>
<h3>By Geneva Lai and Anthony Scimone</h3>
<h1>Hogwarts Professors:</h1>

<form id="addprofessor" action="/professors" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    House: <select name="house">
        {{#each houses}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    <input type="submit" value="ADD">
</form>
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>House</th>
    </thead>
    <tbody>
        <tr>
        {{#each professors}}
            <td>{{this.fname}}</td>
            <td>{{this.lname}}</td>
            <td>{{this.house}}</td>
            <td><a href="/professors/{{this.id}}">Update</a></td>
            <td><form action="/professors/{{id}}?_method=DELETE" method="POST"><button type = "submit">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>



</table>
