<!--******************************************************************
  UPDATE HOUSE
*******************************************************************-->
<h1>Update {{house.name}}:</h1>

<form id="update-house" action="/houses" method="post">
    House name: <input type="text" name="name" value="{{house.name}}"><br>

    Head Professor: <select name="head_prof" id="prof-selector">
      {{#each professors}}
        <option value="{{this.id}}">{{this.fname}} {{this.lname}}</option>
      {{/each}}
    </select><br>
</form>
<button onclick="update_house({{house.id}})">Update</button>
<script defer>select_prof({{house.head_prof}});</script>
