<h1>Update {{professor.fname}} {{Professor.lname}}:</h1>

<form id="update-professor" action="/professors/{{professor.id}}?_method=PUT" method="POST">
    First name: <input type="text" name="fname" value="{{student.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{student.lname}}"><br>
    House: <select name="house" id="house-selector">
        {{#each houses}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select><br>
    <button type="submit">Update</button>
</form>

<script defer>selecthouse({{student.house}});</script>
